
@import url(./normalize.css);

html{
    font-size: 62.5%;
}

*, ::after, ::before{
    box-sizing: border-box;
}

body{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

img{
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}




/* Color Palette */

:root{

    /*Primary*/
    --color-orange: hsl(26, 100%, 55%);
    --color-pale-orange: hsl(25, 100%, 94%);

    /*Neutral*/
    --color-Very-vark-blue: hsl(220, 13%, 13%);
    --color-Dark-grayish-blue: hsl(219, 9%, 45%);
    --color-Grayish-blue: hsl(220, 14%, 75%);
    --color-Light-grayish-blue: hsl(223, 64%, 98%);
    --color-White: hsl(0, 0%, 100%);
    --color-Black : hsl(0, 0%, 0%);

    /*  (black with 75% opacity for lightbox background) */
}


/* Product Pricing Panel */

.product__pricing-panel{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    align-items: center;
    margin: 3rem 0;
}

.product__discount{
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--color-orange);
    background-color: var(--color-pale-orange);
    border-radius: 6px;
    font-weight: 700;
    margin: 0rem 1rem;
}

.product__original-price{
    text-decoration: line-through;
    color: var(--color-Grayish-blue);
    font-weight: 600;
}

.product__discounted-price{
    font-weight: 700;
    font-size: 2.8rem;
    position: relative;
    top: 4px;
}

.price::before{
    content: '$';
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.icon--plus,.icon--minus{
    text-align: center;
    display: inline-block;
    height: 100%;
    position: relative;
    cursor: pointer;
    padding: 1rem;
}

.icon--minus img{
    position: absolute;
    top: 9.5px;
    left: 4px;
}

.icon--plus svg{
    position: absolute;
    top: 3.5px;
    right: 5px;
}

@media screen and (min-width:768px) {
    .icon--minus svg{
        top: 10px;
        left: 15px;
    }

    .icon--plus svg{
        top: 7.5px;
        right: 4px;
    }
}

@media screen and (min-width:768px) {
    .product__pricing-panel{
        flex-direction: column;
        align-items: flex-start;
    }

    .product__original-price{
        margin-top: 0.7rem;
    }
}



/* Quantity Selector */

.product__quantity-selector{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    background-color: var(--color-Light-grayish-blue);
    padding: 2rem;
    align-items: center;
    border-radius: 8px;
}

.product__quantity-selector .icon--minus{
    top: 2px;
}

/* Buttons */

.btn{
    border-radius: 8px;
    text-align: center;
    outline: 0;
    border: 0;
    padding: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.btn--cart{
    background-color: var(--color-orange);
    color: var(--color-White);
}


.fill{
    width: 100%;
}



/* Cart Section */

.btn--cart{
    margin-top: 1.5rem;
    transition: 0.25s;
    font-weight: 600;
}

.btn--cart div{
    position: relative;
    width: max-content;
    margin: 0 auto;
}

.btn--cart svg{
    position: absolute;
    left: -32px;
    top: -2px;
    transform: scale(0.75);
}

.btn--cart:hover{
    opacity: 0.8;
    transform: scale(1.05);
}

.btn--cart:active {
    animation: press 0.2s 1 linear;
}
.btn--cart:active svg {
    animation: bounce 0.2s 1 linear;
}
.text {
    color: #666;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
  }
  @keyframes press {
    0% {
      transform: scale(1);
    }
    50% {
        transform: scale(0.92);
        opacity: 1;
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes bounce {
    50% {
      transform: rotate(5deg) translate(20px, -50px);
    }
    to {
      transform: scale(0.9) rotate(10deg) translate(50px, -80px);
      opacity: 0;
    }
  }


@media screen and (min-width:768px) {
    .add-to-cart{
        grid-template-columns: 30% 70%;
    }

    .btn--cart{
        margin-left: 2rem;
        margin-top: 0;
    }
}

/* grid */

.grid{
    display: grid;
}

@media screen and(min-width:768px) {
    .grid--cols-2{
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Product Body */

.product__description{
    color: var(--color-Dark-grayish-blue);
    line-height: 1.5;
}

.product__company{
    color: var(--color-orange);
    font-weight: 600;
    font-size: 1.5rem;
}

.product__title{
    margin: 1.5rem 0;
    color: var(--color-Very-vark-blue);
}

.product__body{
    padding: 2rem 2rem 5rem 2rem;
}


/* Images */

.product__image-container{
    overflow: hidden;
    position: relative;
}

.image-slider{
    display: flex;
}

.image-slider img{
    width:100%;
}

.product__image-container .icon-container, .product--overlay .icon-container {
    background-color: var(--color-White);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-slider-btn{
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 50%;
    text-align: center;
    transition: transform 0.2s;
}

#prev-btn--main{
    margin-left: 10px;
}

#next-btn--main{
    right: 10px;
}

#next-btn--main:hover, #prev-btn--main:hover{
    background-color: rgba(255, 255, 255, 0.5);
}


/* Desktop and Mobile Layout */

.thumbnail-container{
    display: none;
}

@media screen and (min-width:768px) {
    .product--main{
        display: flex;
        padding: 2rem;
        margin: 5rem 0;
        align-items: center;
        justify-content: space-between;
    }

    .product__body{
        margin-left: 4rem;
        padding: 0;
    }

    .thumbnail{
        width: 7rem;
        border-radius: 7px;
        cursor: pointer;
    }

    .thumbnail-container{
        display: flex;
        width: 380px;
        margin-top: 2rem;
        justify-content: space-between;
    }

    #prev-btn--main, #next-btn--main{
        display: none;
    }

    .product__image-container{
        width: 380px;
        border-radius: 10px;
        cursor: pointer;
    }

    .add-to-cart{
        display: flex;
    }

    .btn {
        padding: 1.5rem 2rem;
    }

    .btn--cart{
        width: 0;
        flex-grow: 1;
    }

    .product__quantity-selector{
        width: 160px;
        padding: 1rem;
        position: relative;
    }
}


@media screen and (min-width:1024px) {

    .product__body{
        margin-left: 9rem;
    }
    
    .product--main{
        margin: 8rem auto;
        padding: 0 5rem;
    }
}

@media screen and (min-width:1440px) {
    .product__body{
        margin-left: 10.5rem;
    }
    
    .product__title{
        font-size: 3.55rem;
    }

    .product--main{
        min-height: 66vh;
    }
}


/* Thumbnail Section */

.thumbnail:hover{
    opacity: 0.7;
}

.thumbnail__current{
    opacity: 0.5;
    border: 2px solid var(--color-orange);
}

.thumbnail__current:hover{
    opacity: 0.5;
}




/* Navbar */

.navbar-container{
    max-width: 1100px;
    margin: 0 auto;
}

.navbar{
    position: relative;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid hsl(219, 9%, 45%, 0.25);
    
}

.nav__header{
    display: flex;
    align-items: center;
}

.user-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .user__cart-icon{
    padding: 3rem 1rem 3rem 2rem;
    cursor: pointer; 
    position: relative;
}

.navbar .user__cart-icon:hover path{
    fill: var(--color-Very-vark-blue);
}


.user__total-quantity{
    background-color: var(--color-orange);
    color: #fff;
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
    border-radius: 9999px;
    position: absolute;
    right: 0px;
    top: 10px;
}

.user__total-quantity--hidden{
    display: none;
}


@media screen and (min-width:768px) {
    .user__total-quantity{
        right: 0px;
        top: 25px;
    }
}

.user__image img{
    width: 45px;
    height: 45px;
    margin-left: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.user__image img:hover{
    border: 2px solid var(--color-orange);
}

.nav__links{
    list-style: none;
    display: flex;
    margin: 0;
    color: var(--color-Dark-grayish-blue);
}

.nav__links li{
    cursor: pointer;
    padding: 3rem 0;
    margin: 0 1.5rem;
    background-image: linear-gradient(hsl(26, 100%, 55%), hsl(26, 100%, 55%)~);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.nav__links li:hover{
    color: var(--color-Very-vark-blue);
    background-size: 100% 5px, auto;
}




@media screen and (max-width:767px) {
    
    .navbar{
        padding: 0.5rem 2rem;
    }
    
    .nav__links{
        position: absolute;
        flex-direction: column;
        height: calc(100vh - 62.65px);
        top: 62.65px;
        left: -300px;
        font-weight: bold;
        color: black;
        z-index: 20;
        background-color: #fff;
        justify-content: flex-start;
        width: 40vw;
        padding: 0rem 2rem ;
        transition: all 0.3s ease-in-out;
    }

    .navbar .user__cart-icon{
        padding: 1.5rem 1rem 1.5rem 2rem;
    }
    
    .nav__burger div{
        width: 20px;
        border-bottom: 4px solid var(--color-Dark-grayish-blue);
    }
    
    .nav__burger{
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 2rem;
    }
    
    .user__image img{
        width: 28px;
        height: 28px;
        margin-left: 15px;
    }
    
    .nav__burger--close div:nth-of-type(2){
        display: none;
    }
    
    .nav__burger--close div:nth-of-type(1){
        transition: all 0.2s;
        transform: rotate(45deg);
        position: relative;
        top: 8.1px;
    }
    .nav__burger--close div:nth-of-type(3){
        transition: all 0.2s;
        transform: rotate(-45deg);
        position: relative;
        bottom: 8.1px;
    }
    
    .nav__links--expanded{
        left: 0;
    }
    
    .nav__links li{
        padding: 0.5rem;
        margin: 1rem 0;
    }
}



@media screen and (min-width:1024px) {
    .nav__links li{
        margin: 0 2rem;
    }
    
    .navbar{
        padding: 0 2rem;
    }
}




/* Product Overlay Section */

.product--overlay{
    display: none;
}

@media screen and (min-width:768px) {
    .product--overlay{
        position: fixed;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(0,0,0,0.75);
        top: 0;
    }

    .product--overlay--hidden{
        display: none;
    }
}

.overlay__image{
    position: relative;
    overflow: hidden;
    width: f;
}

.overlay__image img{
    width: 450px;
    border-radius: 10px;
}

.overlay__image-container{
    position: relative;
    width: 450px;
}


#prev-btn--overlay{
    left: -15px;
    z-index: 200;
}

#next-btn--overlay{
    right: -15px;
}

#close-btn{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: -25px;
    transform: scale(1.3);
}


#close-btn:hover path{
   fill: var(--color-orange);
}

#next-btn--overlay:hover,#prev-btn--overlay:hover{
    transform: scale(1.2);
}


.product--overlay .thumbnail{
    opacity: 0.5;
    transition: opacity 0.15s;
}
.product--overlay .thumbnail:hover{
    opacity: 1;
}

.product--overlay .thumbnail__current{
    border: 2px solid white;
    opacity: 1;
}

.overlay-thumbnail-background{
    background: white;
    border-radius: 10px;
    height: 7rem;

}


/* Cart Section */


.product--cart{
    position: absolute;
    z-index: 30;
    left: 0;
    right: 0;
    top: 70px;
    width: 90vw;
    margin: 0 auto;
    background-color: white;
    border-radius:10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.product--cart--hidden{
    display: none;
}

.cart__product-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__product-display--hidden{
    display: none;
}

.cart__header p{
    font-weight: 700;
    margin: 0;
    color: var(--color-Very-vark-blue);
}

.cart__header{
    padding: 2rem;
    border-bottom: 1px solid hsl(220, 11%, 89%) ;
}

.line-overflow::after{
    content: "...";
}

.cart__product-title{
    inline-size: 130px;
    overflow: hidden;
    height: 1.5rem;
    margin: 0;
    margin-bottom: 0.8rem;
}


.cart__product-info{
    color: var(--color-Dark-grayish-blue);
    margin: 0 2rem 0 1.5rem;
    text-align: left;
    font-size: 1.4rem;
}

.cart__product-total{
    font-weight: bold;
    color: var(--color-Very-vark-blue);
}

.cart__product-thumbnail img{
    width: 50px;
    border-radius: 5px;
}

.cart__products{
    margin-bottom: 2rem;
}

.product--cart .btn--checkout{
    color: #fff;
    background-color: var(--color-orange);
    width: 100%;
    font-weight: 400;
}

.cart__delete-icon{
    cursor: pointer;
}

.empty-cart-message{
    display: none;
}

.thumbnail-and-product{
    display: flex;
}


.cart__body{
    padding: 2rem 2rem 3rem;
}

.product--cart--empty .cart__product-display, .product--cart--empty .btn--checkout {
    display: none;
}

.product--cart--empty .cart__body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;  
}

.product--cart--empty .empty-cart-message{
    display: block;
}

@media screen and (min-width:450px) {
    .product--cart{
        max-width: max-content;
        position: absolute;
        z-index: 30;
        top: 45px;
        right: 10px;
        left: auto;
    }
    .cart__product-title{
        inline-size: 200px;
    }

    .product--cart--empty .cart__body{
        padding: 4rem 10rem;  
    }
}

@media screen and (min-width:768px) {
    .product--cart{
        top: 60px;
    }
}    




