

html{
    font-size: 62.5%;
}

*, ::after, ::before{
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    font-family: 'Kumbh Sans', sans-serif;
}




/* Color Palette */

:root{

    /*Primary*/
    --color-orange: hsl(26, 100%, 55%);
    --color-pale-orange: hsl(25, 100%, 94%);

    /*Neutral*/
    --color-Very-vark-blue: hsl(220, 13%, 13%);
    --color-Dark-grayish-blue: hsl(219, 9%, 45%);
    --color-Grayish-blue: hsl(220, 14%, 75%);
    --color-Light-grayish-blue: hsl(223, 64%, 98%);
    --color-White: hsl(0, 0%, 100%);
    --color-Black : hsl(0, 0%, 0%);

    /*  (black with 75% opacity for lightbox background) */
}


/* Product Pricing Panel */

.product__pricing-panel{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    align-items: center;
}

.product__discount{
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--color-orange);
    background-color: var(--color-pale-orange);
    border-radius: 6px;
    font-weight: 700;
    margin: 0rem 1rem;
}

.product__original-price{
    text-decoration: line-through;
    color: var(--color-Grayish-blue);
    font-weight: 600;
}

.product__discounted-price{
    font-weight: 700;
    font-size: 2.8rem;
    position: relative;
    top: 4px;
}

.price::before{
    content: '$';
}

@media screen and (min-width:768px) {
    .product__pricing-panel{
        flex-direction: column;
        align-items: flex-start;
    }

    .product__original-price{
        margin-top: 0.7rem;
    }
}



/* Quantity Selector */

.product__quantity-selector{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    background-color: var(--color-Light-grayish-blue);
    padding: 2rem;
    align-items: center;
    border-radius: 8px;
}

.product__quantity-selector .icon--minus{
    position: relative;
    top: -3px;
}

/* Buttons */

.btn{
    border-radius: 8px;
    text-align: center;
    outline: 0;
    border: 0;
    padding: 2rem;
    font-weight: 600;
}

.btn--cart{
    background-color: var(--color-orange);
    color: var(--color-White);
}

.fill{
    width: 100%;
}



/* Cart Section */

.btn--cart{
    margin-top: 2rem;
}

.btn--cart .icon{
    margin-right: 0.7rem;
}


@media screen and (min-width:768px) {
    .add-to-cart{
        grid-template-columns: 30% 70%;
    }

    .btn--cart{
        margin-left: 2rem;
        margin-top: 0;
    }
}

/* grid */

.grid{
    display: grid;
}

@media screen and(min-width:768px) {
    .grid--cols-2{
        grid-template-columns: repeat(2, 1fr);
    }
}





