<div class="product__header">
  <div class="product__image-container">
    <div class="image-slider">
      <!-- clones for slider and smooth transition purposes-->
      <img src="./images/image-product-4.webp" alt="" id="last-clone" />
      <img src="./images/image-product-1.webp" alt="" id="product__image--1" />
      <img src="./images/image-product-2.webp" alt="" id="product__image--2" />
      <img src="./images/image-product-3.webp" alt="" id="product__image--3" />
      <img src="./images/image-product-4.webp" alt="" id="product__image--4" />
      <!--clones for slider and smooth transition purposes-->
      <img src="./images/image-product-1.webp" alt="" id="first-clone" />
    </div>
    <span class="icon-container" id="prev-btn"
      ><svg width="12" height="18" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11 1 3 9l8 8"
          stroke="#1D2026"
          stroke-width="3"
          fill="none"
          fill-rule="evenodd"
        />
      </svg>
    </span>
    <span class="icon-container" id="next-btn">
      <svg width="12" height="18" xmlns="http://www.w3.org/2000/svg">
        <path
          d="m2 1 8 8-8 8"
          stroke="#1D2026"
          stroke-width="3"
          fill="none"
          fill-rule="evenodd"
        />
      </svg>
    </span>
  </div>
</div>
